---
/** ПОДАРКИ — деликатный кремовый блок */
---

<section class="gifts" id="gifts" aria-labelledby="gifts-h">
  <svg class="botanical botanical--gifts" aria-hidden="true"><use href="#sprig-rasp" /></svg>
  <div class="shell gifts__grid reveal">
    <div class="gifts__lead">
      <h2 class="head" id="gifts-h">о&nbsp;подарках</h2>
      <svg class="sprig-inline" aria-hidden="true"><use href="#sprig-euc" /></svg>
    </div>
    <div class="gifts__body">
      <p class="gifts__text">
        Мы&nbsp;очень ценим вашу заботу и&nbsp;внимание и&nbsp;будем рады любому подарку!
        И&nbsp;неважно, в&nbsp;какой конверт вы&nbsp;его упакуете&nbsp;:)
      </p>
      <p class="gifts__aside">Хотя вино тоже можно.</p>
    </div>
  </div>
</section>
